@using DIplomaProject.Frontend.Models.Dto.Client
@model List<ClientGetDto>

<form method="get" asp-action="GetClientsByName">
    <label for="query">Search Query:</label>
    <input type="text" id="query" name="query" value="@ViewBag.Query" />
    <button type="submit">Search</button>
</form>

<form method="get" asp-action="FindById">
    <label for="id">Id:</label>
    <input type="text" id="id" name="id" value="@ViewBag.FindById" />
    <button type="submit">Search</button>
</form>

<form method="get" asp-action="Create">
    <button type="submit">Create</button>
</form>

@{
    if (ViewBag.FindById is not null)
    {
        foreach (var client in ViewBag.FindById)
        {
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Birthday</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Adress</th>
                        <th>Company</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@client.Id</td>
                        <td>@client.Name</td>
                        <td>@client.Surname</td>
                        <td>@client.BirthdayDate</td>
                        <td>@client.PhoneNumber</td>
                        <td>@client.Email</td>
                        <td>@client.Adress</td>
                        <td>@client.CompanyName</td>
                        <td>
                            <form method="post" asp-action="Delete" asp-route-id="@client.Id">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                        <td>
                            <form method="get" asp-action="Update" asp-route-id="@client.Id">
                                <button type="submit">Edit</button>
                            </form>
                        </td>

                    </tr>
               
                </tbody>
            </table>
        }
    }
    else
    {
        <div>
            <h3>Нет результата или неверно введен Id</h3>
        </div>
    }
}