@using DIplomaProject.Frontend.Models.Dto.Client
@model List<ClientGetDto>

<div>
    <form method="get" asp-action="Create">
        <button type="submit">Create</button>
    </form>
</div>
<form method="get" asp-action="GetClientsByName">
    <label for="query">Search Query:</label>
    <input type="text" id="query" name="query" value="@ViewBag.Query" required />
    <button type="submit">Search</button>
</form>
<form method="get" asp-action="FindById">
    <label for="id">Id:</label>
    <input type="text" id="id" name="id" value="@ViewBag.FindById" required  />
    <button type="submit">Search</button>
</form>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in ViewBag.Clients)
        {
            <tr>
                <td>@client.Id</td>
                <td>@client.Name</td>
                <td>@client.Surname</td>
                <td>
                    <form method="post" asp-action="Delete" asp-route-id="@client.Id">
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <td>
                    <form method="get" asp-action="Update" asp-route-id="@client.Id">
                        <button type="submit">Edit</button>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>