@using DIplomaProject.Frontend.Models.Dto.Promotion
@model List<PromotionGetDto>

<form method="get" asp-action="GetPromotionsByName">
    <label for="query">Search Query:</label>
    <input type="text" id="query" name="query" value="@ViewBag.Query" />
    <button type="submit">Search</button>
</form>

<form method="get" asp-action="Create">
    <button type="submit">Create</button>
</form>

@{
    if (ViewBag.FindById is not null)
    {
        foreach (var promotion in ViewBag.FindById)
        {
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Discount Percent</th>
                        <th>IsCorporate</th>
                        <th>Begin Date</th>
                        <th>End Date</th>
                        <th>CompanyPercent</th>
                        <th>ServiceId</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@promotion.Id</td>
                        <td>@promotion.Name</td>
                        <td>@promotion.Description</td>
                        <td>@promotion.DiscountPercent</td>
                        <td>@promotion.BeginDate</td>
                        <td>@promotion.EndDate</td>
                        <td>@promotion.IsCorporate</td>
                        <td>@promotion.CompanyPercent</td>
                        <td>@promotion.ServiceId</td>
                        <td>
                            <form method="post" asp-action="Delete" asp-route-id="@promotion.Id">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                        <td>
                            <form method="get" asp-action="Update" asp-route-id="@promotion.Id">
                                <button type="submit">Edit</button>
                            </form>
                        </td>

                    </tr>
               
                </tbody>
            </table>
        }
    }
    else
    {
        <div>
            <h3>Нет результата или неверно введен Id</h3>
        </div>
    }
}