@using DIplomaProject.Frontend.Models.Dto.Promotion
@model List<PromotionGetDto>

<div>
    <form method="get" asp-action="Create">
        <button type="submit">Create</button>
    </form>
</div>
<form method="get" asp-action="GetPromotionsByName">
    <label for="query">Search Query:</label>
    <input type="text" id="query" name="query" value="@ViewBag.Query" required />
    <button type="submit">Search</button>
</form>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>ServiceId</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.Promotions is not null) 
        {
            foreach (var promotion in ViewBag.Promotions)
            {
                <tr>
                    <td>@promotion.Name</td>
                    <td>@promotion.ServiceId</td>
                    <td>
                        <form method="post" asp-action="Delete" asp-route-id="@promotion.Id">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                    <td>
                        <form method="get" asp-action="Update" asp-route-id="@promotion.Id">
                            <button type="submit">Edit</button>
                        </form>
                    </td>

                </tr>
            }
        }
    </tbody>
</table>